$blue-1: #2980B9;
$blue-2: #2980b9;
$blue-3: #4B58CF;
$blue-4: #4D57CE;

$purple: #7A55CA;

$grey: #666;

$white-1: #f9f9f9;
$white-2: antiquewhite;
$white-3: #ccc;

$pink-1: #c850c0;
$pink-2: #9254C7;
$pink-3: #A951C3;
$pink-4: #c850c0;
$pink-5: #9653C6;